<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biodiversity</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
   <div class="container-fluid">
      <div class="jumbotron">
          <h1 class="text-center">Belly Button Biodiversity</h1>
          <h1 class ="text-center">Dashboard</h1>
          <h3 class="text-center">Use the interactive charts below to explore the dataset</h3>
          <br><br>
          
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
              <p>SELECT Sample:</p>
              
          <select class="select_width" id="selectSample" onchange="optionChanged(this.value)">
                <option >Select Sample</option>
            </select>
             <div id="pie"></div>
            
          </div>
        </div>
        

    <script src="{{ url_for('static', filename='js/sample_names.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    
</body>
</html>
